.home-container {
    display: flex;
    align-items: stretch;
}
.home-button1{
    width: 5%;
    background-color: rgba(255, 0, 0, 0.526);
}
.home-button2{
    width: 90%;
}
.home-button3{
    width: 5%;
    background-color: rgba(255, 0, 0, 0.526);
}

.home-page{
    text-align: center;  
}


.home-page h3{
    font-size: 1.3rem;
    text-shadow: 2px 4px 20px white;
}

.home-filter{
    position: absolute;
    display: inline-block;
    width: 100%;
}
.filters{
    /* position: absolute; */
    width: 100%;
    margin: 0 25%  ;
}

.select{
    margin-right: 40px;
}



/* .home-button1{
    flex-grow:1
}

.home-button2{
    flex-grow: 30
}

.home-button3{
    flex-grow: 1
} */