

.nav-cont{
	box-shadow: 0px 2px 8px;

}

.container{
    margin: auto;
    list-style: none;
    padding: 0;
    background: #092327;
    width: 100vw;
    min-width: 1000px;
	display: flex;
    align-items: center;

}

.home{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: block;

}

.container li{
    display: inline-block;
    text-align: center;
	;
}

.home:hover{
    background-color: white;
    color: black;
}

input {
	font:inherit;
    color: black;
    
}


form > div {
	background:#fff;
	padding: 0px 22px 0px 26px;
	border-radius: 30px;
	border:2px solid #cad3dc;
	box-shadow: rgba(255, 255, 255, 0.5) -8px -8px 15px,
		rgba(0, 0, 0, 0.1) 10px 10px 10px,
		rgba(255, 255, 255, 0.5) -8px -8px 15px inset,
		rgba(0, 0, 0, 0.1) 10px 10px 10px inset;
}
form input {
	border:none;
	background: transparent;
	font-weight: bold;
	padding-left: 24px;
	background-repeat: no-repeat;
	width: 300px;
	transition: all 1s;
}
form input:focus {
	outline: none;
	width: 300px;
}

 .li{
    margin-left: 30%;
    
}
.li-img {
	text-align: center;
  }
  
  .li-img img {
	display: inline-block;
	margin: 0 auto;
  }