*{
    box-sizing: border-box;
}

label{
    display: flex ;
    flex-direction: column;
}

.error-cont{
    color: rgb(255, 0, 0);
    display: flex;
}

.form-label{
   
    padding-bottom: 20px;
}

.form-label input{
    background-color: rgba(255, 255, 255, 0.738);
    margin-left: 20px;
    box-shadow: 8px 8px 8px rgba(255, 0, 0, 0.237); 
}

.form-label select{
    background-color: rgba(255, 255, 255, 0.738);
    margin-left: 20px;
    box-shadow: 8px 8px 8px rgba(255, 0, 0, 0.237); 
    color: black;
    font-size: 1.1rem;
}

.form-button{
    margin-bottom: 20px;
    width: 80px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.625);
}

.form-label textarea{
    background-color: rgba(255, 255, 255, 0.738);
    color: black;
    box-shadow: 8px 8px 8px rgba(255, 0, 0, 0.237);
    font-size: 1.3rem;
    height: 200px;
    margin-left: 20px;
    margin-right: 300px;
}

.form-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
.form-cont fieldset{
    background-color: #092327;
}

.form-submit{
    width: 200px;
    margin: 2% 50%;
    background-color: #092327;
    font-size: 1.2rem;
    border-color: black;
    box-shadow: 5px 5px 20px ;

}

.form-card{
    width: 25vw;
}